# Rust
backend/target/
backend/*.db
backend/static/
backend-gui/target/
backend-gui/gen/
backend-gui/bundle/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
release/
*.dll
*.so
*.dylib
*.pdb
build/
wwwlogs/
